.contact
{
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.contact .content
{
    max-width: 800px;
    text-align: center;  
}
.contact .content h2
{
    font-size:  36px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.contact .content p
{
    font-weight: 300;
    color: #fff;
    margin-bottom: 50px;

}
.container-form
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-form .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container-form .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container-form .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: #00bcd4;
}
.container-form .contactInfo .box .text
{
   display: flex;
   margin-left:  20px;
   font-size: 16px;
   flex-direction: column;
   font-weight: 300;
}
.container-form .contactInfo .box .text .form-text{
    color:#fff;
}
.container-form .contactInfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}
/********************Contact Form****************/
.contactForm
{
    width: 40%;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    Left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span
{
    color: rgb(194, 128, 6);
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox textarea:valid ~ span{
    display: left;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #ff523b;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.contactForm .inputBox input[type="submit"]:hover{
    background:#563434;
}

.confirm{
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.confirm .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
    padding: 7px;
    border: 1px solid green;
    border-radius: 30px;
}
.confirm .danger{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}
@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}



@media only screen and (max-width: 845px)
{
    .contact
    {
        padding: 10px;
    }
    .container-form
    {
        flex-direction: column;
    }
    .contactForm{
        padding: 5px;
    }
    .container-form .contactInfo
    {
        margin-bottom: 40px;
    }
    .container-form .contactInfo, 
    .contactForm
    {
        width: 100%;
    }
}
