*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;  
}
nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 25px;
}
nav ul li{
    float: left;
    width: 100px;
    height: 30px;
    line-height: 25px;
    margin-right: 20px;
    text-align:center;
}
nav ul li a:hover{
    color: #563434;
}
nav ul li ul li{
    display: none;
}
nav ul li:hover ul li{
    display: block;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
a{
    text-decoration: none;
    color:#555;
}
p{
    color: #555
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis:50%;
    min-width:300px;
}
.col-2 video{
    max-width: 100%;
    padding: 50px 0; 
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color:white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.btn:hover{
    background: #563434;
}

.header .row{
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 130px;
    padding-bottom: 130px;
}

/* -----------------------fetured pictures-----------------------*/

.categories{
    margin:70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition:transform 0.5s;
    cursor: pointer;
}

.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
.h4{
    color:#555;
    font-weight: normal;
}
.col-4, .col-5 p{
font-size: 14px;
}
.col-4:hover, .col-5:hover{
    transform: translateY(-5px)
}
/*------------------------------ offer------------------------*/
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    width: 100%;


}
small{
    color:#555;
}

/*---------------------------background video----------------------*/
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

/*------------------------testimonials---------------*/

.testimonial{
    padding-top: 100px;  
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 60px;
    margin-top:20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa-solid.fa-quote-left{
    font-size: 34px;
    color:#ff523b;
}
.col-3 p{
    margin: 12px 0;
    color: #555;
}

/*************** media query for menu *************/

@media only screen and (max-width: 845px){


    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        color: #fff;
        max-height: 0px;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4, .col-5{
        flex-basis: 100%;
    }
}


/***********************Paintings******************/
.paintings{
    background: #e1e4de
}

.small-container-paintings{
    max-width:fit-content;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
}
.row-paintings{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-5{
    flex-basis: 16.6%;
    padding: 10px 20px 10px 20px;
    min-width: 200px;
    margin-bottom: 50px;
    transition:transform 0.5s;
    cursor: pointer;
}
.col-5 img{
    width: 100%;
}

/***************pagination*******************/
.pagination-title{
    padding-left: 52.5px;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .h2{
      text-align: center;
  }

/********************FOOTER*****************************/
.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row-footer{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #24262b;
    padding: 50px 0px 20px 0px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-email{
	color: #ffffff;
    display: inline-block;
}
.footer-col ul{
    list-style-type: none;
}
.footer hr{
    border:none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.footer-email a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	transition: all 0.3s ease;
}

/*responsive*/
@media only screen and (max-width: 845px){


    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        color: #fff;
        max-height: 0px;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4, .col-5{
        flex-basis: 100%;
    }
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}